<% title "Thread Posts" %>

<h1>All Posts</h1>

<div class="clearer">&nbsp;</div>

<div class="archive-pagination archive-pagination-top">
	<div class="right"><%= will_paginate @thread_posts %></div>
	<div class="clearer">&nbsp;</div>
</div>

<% for thread_post in @thread_posts %>
<div class="post">
	<div class="archive-post-date">
	  <%= image_tag thread_post.user.avatar.url(:thumb), :height => 40, :width => 40 %>
	</div>

	<div class="archive-post-title">
		<h3><%= link_to thread_post.title, thread_post %></h3>
		<div class="post-date"><%= thread_post.created_at.to_s(:db) %></div>
	</div>
	<div class="clearer">&nbsp;</div>
</div>

<% if thread_post.id != @thread_posts.last.id %>
  <div class="archive-separator"></div>
<% end %>

<% end %>

<div class="archive-pagination archive-pagination-bottom">
	<div class="right"><%= will_paginate @thread_posts %></div>
	<div class="clearer">&nbsp;</div>
</div>