<% title @thread_post.title %>

<div class="section">
	<div class="section-title">Post</div>
	<div class="section-content">
    <div class="post">
    	<div class="post-title"><h1><%= @thread_post.title %></h1></div>
    	<div class="post-date"><%= @thread_post.created_at.to_s(:db) %> by <%= @thread_post.user.login %></div>
    	<div class="post-body"><%= raw @thread_post.content %></div>
    </div>
    <div class="archive-separator"></div>

    <% @thread_children.each do |post| %>
    <div class="post">
    	<div class="post-title"><h1><%= post.title %></h1></div>
    	<div class="post-date"><%= post.created_at.to_s(:db) %> by <%= post.user.login %></div>
    	<div class="post-body"><%= raw post.content %></div>
    </div>
    <div class="archive-separator"></div>
    <% end %>

    <h3 class="right">
      <%= link_to raw("Reply Post &#187;"), new_thread_post_path(:reply_on => @thread_post.id) %>
    </h3>
		<div class="clearer">&nbsp;</div>
	</div>
</div>